html,body,div,a,img,p,span,ul,ol,li,form,section,input,button {
  margin: 0;
  padding: 0;
}
a { background: transparent; text-decoration: none; -webkit-tap-highlight-color: transparent; color: #000; }
audio, canvas, progress, video { display: inline-block; vertical-align: baseline; } audio:not([controls]) { display: none; height: 0; }
html,body {
	height: 100%;
}
div {
	margin: 0 auto;
}
html {
	font-family: "Helvetica Neue", Helvetica, STHeiTi, Arial, sans-serif;
}
body {
	max-width: 500px;
	margin: 0 auto;
	-webkit-tap-highlight-color: transparent;
  	-webkit-touch-callout: none; 
  	-webkit-appearance: none;
  	-webkit-tap-highlight-color: transparent;
}
.wrp {
	position: relative;
	height: 100%;
	background: url(../images/bg.jpg) no-repeat center;
	background-size: cover;
}
.swiper-container {
	height: 100%;
}
.center {
	position: absolute;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
}
.hide {
	display: none;
}
.ico-music {
	position: absolute;
	top: 0.3rem;
	right: 0.2rem;
	width: 0.43rem;
	height: 0.40rem;
	padding: 5px;
	background: url(../images/music.png) no-repeat center;
	background-size: 0.43rem 0.43rem;
	z-index: 999;
}
.ico-music.play {
	-webkit-animation: rotate 3s linear infinite; 
	animation: rotate 3s linear infinite; 
}
.p1-title {
	display: block;
    width: 5.4rem;
    height: 1.512rem;
	margin: 0 auto;
	padding-top: 0.7rem;
}
.p1-video {
	position: relative;
	margin-left: 0;
	margin-right: 0;
	margin-top: 0.43rem;
	margin-left: -0.5rem;
	width: 6.11rem;
	height: 5.21rem;
	background: url(../images/p1-video.png) no-repeat center;
	background-size: 6.11rem 5.21rem;
}
.p1-wheel1 {
	position: absolute;
	left: 2.55rem;
	width: 1.4rem;
	height: 1.4rem;
	background: url(../images/p1-wheel.png) no-repeat center;
	background-size: 1.4rem 1.4rem;
	-webkit-animation: rotate 4s linear infinite; 
	animation: rotate 4s linear infinite; 
}
.p1-wheel2 {
	position: absolute;
	left: 4rem;
    top: .2rem;
	width: 1rem;
	height: 1rem;
	background: url(../images/p1-wheel.png) no-repeat center;
	background-size: 1rem 1rem;
	-webkit-animation: rotate 4s linear infinite; 
	animation: rotate 4s linear infinite; 
}
.p1-light {
	opacity: 0;
	position: absolute;
    right: -3.02rem;
    top: 0.8rem;
	width: 3.02rem;
	height: 2.07rem;
	background: url(../images/p1-light.png) no-repeat center;
	background-size: 3.02rem 2.07rem;
	-webkit-animation: light 2s infinite forwards;
	animation: light 2s infinite forwards;
}
.p1-des {
	opacity: 0;
	height: 0.35rem;
	background-image: url(../images/p1-des.png);
	background-repeat: no-repeat; 
	background-size: 4.29rem 2.06rem;
}
.p1-des.line1 {
	background-position: center 0;
	-webkit-animation: light 2s forwards;
	animation: light 2s forwards;
}
.p1-des.line2 {
	background-position: center -0.35rem;
	-webkit-animation: light 2s 1s forwards;
	animation: light 2s 1s forwards;
}
.p1-des.line3 {
	background-position: center -0.7rem;
	-webkit-animation: light 2s 2s forwards;
	animation: light 2s 2s forwards;
}
.p1-des.line4 {
	background-position: center -1.05rem;
	-webkit-animation: light 2s 3s forwards;
	animation: light 2s 3s forwards;
}
.p1-des.line5 {
	background-position: center -1.4rem;
	-webkit-animation: light 2s 4s forwards;
	animation: light 2s 4s forwards;
}
.p1-des.line6 {
	background-position: center -1.75rem;
	-webkit-animation: light 2s 5s forwards;
	animation: light 2s 5s forwards;
}
.p1-btn {
	opacity: 0;
	display: block;
	width: 2.02rem;
	height: 1.02rem;
	margin: 0.5rem auto 0;
	background: url(../images/p1-btn.png) no-repeat center;
	background-size: cover;
	-webkit-animation: scale 2s 6s infinite forwards;
	animation: scale 2s 6s infinite forwards;
}
.p2 .item {
	display: -webkit-flex;
	display: flex;
	justify-content: center;
	align-items: center;
	margin-bottom: .3rem;
}
.p2 .item.left .p2-bg {
	margin-left: -10px;
	margin-right: 1.94rem;
}
.p2 .item.right .p2-bg {
	margin-right: -10px;
	margin-left: 1.94rem;	
}
.p2-round {
	position: relative;
	width: 1.94rem;
	height: 2rem;
}
.p2-wheel {
	display: inline-block;
	width: 1.94rem;
	height: 2rem;
	background: url(../images/p2-wheel.png) no-repeat center;
	background-size: 1.94rem 2rem;
	-webkit-animation: rotate 4s linear infinite; 
	animation: rotate 4s linear infinite; 
}
.p2-play {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 0.92rem;
	height: 0.95rem;
	background: url(../images/p2-play.png) no-repeat center;
	background-size: 0.92rem 0.95rem;
}
.p2-bg {
	display: -webkit-flex;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 3.27rem;
	height: 1.28rem;
	background: url(../images/p2-bg.png) no-repeat center;
	background-size: 3.27rem 1.28rem;
}
.p2-txt {
	width: 2.14rem;
	height: 1rem;
	background-image: url(../images/p2-txt.png);
	background-repeat: no-repeat;
	background-size: 2.14rem 10rem;
}
.p2 .item:nth-child(1) .p2-txt {
	background-position: 0 1px;
}
.p2 .item:nth-child(2) .p2-txt {
	background-position: 0 -2.30rem;
}
.p2 .item:nth-child(3) .p2-txt {
	background-position: 0 -4.58rem;
}
.p2 .item:nth-child(4) .p2-txt {
	background-position: 0 -6.90rem;
}
.p2 .item:nth-child(5) .p2-txt {
	margin-bottom: 0;
	background-position: 0 -9.20rem;
}
@-webkit-keyframes rotate {
	0% {
		-webkit-transform: rotate(0);
		transform: rotate(0);
	}
	100% {
		-webkit-transform: rotate(360deg);
		transform: rotate(360deg);
	}
}
@keyframes rotate {
	0% {
		-webkit-transform: rotate(0);
		transform: rotate(0);
	}
	100% {
		-webkit-transform: rotate(360deg);
		transform: rotate(360deg);
	}
}
@-webkit-keyframes scale {
	0% {
		opacity: 1;
		-webkit-transform: scale(0.8);
		transform: scale(0.8);
	}
	50% {
		opacity: 1;
		-webkit-transform: scale(1.2);
		transform: scale(1.2);
	}
	100% {
		opacity: 1;
		-webkit-transform: scale(0.8);
		transform: scale(0.8);
	}
}
@keyframes scale {
	0% {
		opacity: 1;
		-webkit-transform: scale(0.8);
		transform: scale(0.8);
	}
	50% {
		opacity: 1;
		-webkit-transform: scale(1.2);
		transform: scale(1.2);
	}
	100% {
		opacity: 1;
		-webkit-transform: scale(0.8);
		transform: scale(0.8);
	}
}
@-webkit-keyframes light {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}
@keyframes light {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}
/*详情页*/
.p-d {

}
.p-d-common {
	background: url(../images/d-common.png);
	background-repeat: no-repeat;
	background-size: 8.22rem 10rem;
}
.p-d-title-wrp {
	display: -webkit-flex;
	display: flex;
    justify-content: center;
    align-items: center;
	width: 3.37rem;
	height: 1.31rem;
	margin: 0.3rem auto 0;
	background-position: 0 0;
}
.p-d-title {
	width: 2.30rem;
	height: 0.65rem;
}
.p-d-line {
	position: absolute;
    display: -webkit-flex;
    display: flex;
	justify-content: center;
	align-items: center;
	width: 7.5rem;
	height: 4.53rem;
	margin-top: .5rem;
	background-image: url(../images/d-line-bg.png);
	background-size: 0.32rem 4.53rem;
	background-repeat: repeat-x;
}
.p-d-line-img {
	width: 6.52rem;
	height: 3.73rem;
}
.p-d-light {
	position: relative;
	width: 7.5rem;
	height: 4.07rem;
	margin-top: 3.6rem;
}
.p-d-light-hight {
	position: absolute;
	left: 52%;
	-webkit-transform: translateX(-50%);
	transform: translateX(-50%);
	width: 9.17rem;
	height: 4.07rem;
	background: url(../images/d-light-hight.png) no-repeat center;
	background-size: 9.17rem 4.07rem;
	-webkit-animation: light 2s infinite forwards;
	animation: light 2s infinite forwards;
}
.p-d-light-low {
	opacity: 0;
	position: absolute;
	left: 52%;
	-webkit-transform: translateX(-50%);
	transform: translateX(-50%);
	width: 8.96rem;
	height: 4.07rem;
	background: url(../images/d-light-low.png) no-repeat center;
	background-size: 8.96rem 4.07rem;
	-webkit-animation: light 2s infinite forwards;
	animation: light 2s infinite forwards;
}
.p-d-video {
	position: relative;
	width: 1.77rem;
	height: 2.31rem;
	margin: 0 auto;
	background-position: -4.36rem 0px;
}
.p-d-video-btn {
	position: absolute;
	bottom: .7rem;
    left: .98rem;
	width: 0.44rem;
	height: 0.44rem;
	background-position: -4.52rem -2.72rem;
	-webkit-animation: scale 2s infinite forwards;
	animation: scale 2s infinite forwards;
}
.p-d-light-des {
	opacity: 0;
	-webkit-transform: translateY(2rem);
	transform: translateY(2rem);
	-webkit-animation: light 2s 1s forwards;
	animation: light 2s 1s forwards;
}
.p-d2-logo {
	width: 0.98rem;
	height: 1.11rem;
	margin-top: 0.3rem;
	background-position: -4.30rem -5.02rem; 
}
/*.p-d2-screen {
	width: 100%;
	overflow-x: auto;
	-webkit-overflow-scrolling: touch;
}
.p-d2-line {
	display: -webkit-flex;
    display: flex;
	justify-content: center;
	align-items: center;
	width: 7.5rem;
	width: 13.2rem;
	height: 4.97rem;
	margin-top: .3rem;
	margin-bottom: .43rem;
	background-image: url(../images/d2-line-bg.png);
	background-size: 0.36rem 4.97rem;
	background-repeat: repeat-x;
}*/
.p-d2-screen {
	display: -webkit-flex;
    display: flex;
	justify-content: center;
	align-items: center;
	/*width: 7.5rem;*/
	width: 11rem;
	height: 4.59rem;
}
.p-d2-line {
	position: relative;
	width: 100%;
	overflow-x: auto;
	-webkit-overflow-scrolling: touch;
	margin-top: .3rem;
	margin-bottom: .3rem;
	background-image: url(../images/d2-line-bg.png);
	background-size: 0.342rem 4.59rem;
	background-repeat: repeat-x;
}
.p-d2-line::-webkit-scrollbar {
	display: none;
}
.swiper-slide-active .p-d-arrow {
	opacity: 0;
	position: absolute;
	right: 20px;
	top: 50%;
	-webkit-transform: translateY(-50%);
	transform: translateY(-50%);
	width: 32px;
	height: 32px;
	background: url(../images/right.png) no-repeat center;
	background-size: 32px 32px;
	-webkit-animation: light 1.5s linear 3; 
	animation: light 1.5s linear 3; 
}
.p-d2-line-img {
    width: 1.98rem;
    height: 3.51rem;
        /*background-size: 1.98rem 3.51rem;*/
}

.p-d2-des {
	display: flex;
	display: -webkit-flex;
	justify-content: center;
	align-items: center;
}
.p-d2-bottom { 
	margin-top: 0.23rem;
	text-align: center;
}
.p-d2-btn {
	position: relative;
	display: inline-block;
}
.p-d2-back,.p-d2-share {
	width: 1.35rem;
	height: 1.35rem;
	background: url(../images/d2-wheel.png) no-repeat center;
    background-size: 1.35rem 1.35rem;
    -webkit-animation: rotate 3s linear infinite; 
	animation: rotate 3s linear infinite; 
}
.p-d2-back-a {
	width: 0.9rem;
	height: 0.9rem;
	background-position: -4.32rem -3.58rem;
}
.p-d2-share-a {
	width: 0.9rem;
	height: 0.9rem;
	background-position: -5.82rem -3.58rem;
}
.p-d2-ad {
	margin-top: 0.2rem;
	text-align: center;
	font-size: 0;
}
.p-d2-ad-item {
	display: inline-block;
}
.p-s-des {
	opacity: 0;
	width: 4.3rem;
	height: 2.51rem;
	margin-top: 0.8rem;
	background: url(../images/p-s-des.png) no-repeat center;
	background-size: 4.3rem 2.51rem;
}
.swiper-slide-active .p-s-des {
	-webkit-animation: light 2s .5s forwards;
    animation: light 2s .5s forwards;
}
.p-s-men {
	width: 2.65rem;
	height: 2.51rem;
	margin-top: 0.5rem;
	background: url(../images/p-s-men.png) no-repeat center;
	background-size: 2.65rem 2.51rem;
}
.p-s-logo {
	margin-top: 0.6rem;
	width: 6.66rem;
	height: 2.73rem;
	background: url(../images/p-s-logo.png) no-repeat center;
	background-size: 6.66rem 2.73rem;
}
.p-s-logo1 {
	float: left;
	width: 0.77rem;
	height: 1.04rem;
	margin-right: 0.35rem;
	background: url(../images/p-s-logo1.png) no-repeat center;
	background-size: 0.77rem 1.04rem;
}
.p-s-logo2 {
	float: left;
	margin-top: 0;
}
.p-s-qrcode {
	width: 3.09rem;
	height: 1.28rem;
}
.p-s-bottom {
	display: -webkit-flex;
	display: flex;
	align-items: center;
	margin: 0.5rem 0.37rem 0;
}
.p-s-kl {
	-webkit-flex: 1;
	flex: 1;
}
.share-layer {
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0,0,0,.75);
	z-index: 999;
}
.p-s-arrow {
	position: fixed;
	top: 0.5rem;
	right: 0.9rem;
	width: 1.13rem;
	height: 1.07rem;
	background: url(../images/p-s-arrow.png) no-repeat center;
	background-size: 1.13rem 1.07rem;
}
.p-s-share {
	position: fixed;
    top: 1.55rem;
    right: 1.7rem;
	width: 2.87rem;
	height: 1.83rem;
	background: url(../images/p-s-share.png) no-repeat center;
	background-size: 2.87rem 1.83rem;
}
@-webkit-keyframes swing {
  20% {
    -webkit-transform: rotate3d(0, 0, 1, 15deg);
    transform: rotate3d(0, 0, 1, 15deg);
  }

  40% {
    -webkit-transform: rotate3d(0, 0, 1, -10deg);
    transform: rotate3d(0, 0, 1, -10deg);
  }

  60% {
    -webkit-transform: rotate3d(0, 0, 1, 5deg);
    transform: rotate3d(0, 0, 1, 5deg);
  }

  80% {
    -webkit-transform: rotate3d(0, 0, 1, -5deg);
    transform: rotate3d(0, 0, 1, -5deg);
  }

  to {
    -webkit-transform: rotate3d(0, 0, 1, 0deg);
    transform: rotate3d(0, 0, 1, 0deg);
  }
}

@keyframes swing {
  20% {
    -webkit-transform: rotate3d(0, 0, 1, 15deg);
    transform: rotate3d(0, 0, 1, 15deg);
  }

  40% {
    -webkit-transform: rotate3d(0, 0, 1, -10deg);
    transform: rotate3d(0, 0, 1, -10deg);
  }

  60% {
    -webkit-transform: rotate3d(0, 0, 1, 5deg);
    transform: rotate3d(0, 0, 1, 5deg);
  }

  80% {
    -webkit-transform: rotate3d(0, 0, 1, -5deg);
    transform: rotate3d(0, 0, 1, -5deg);
  }

  to {
    -webkit-transform: rotate3d(0, 0, 1, 0deg);
    transform: rotate3d(0, 0, 1, 0deg);
  }
}

.swing {
  -webkit-animation: swing 1s linear infinite;
  animation: swing 1s linear infinite;
}
.demo1 .p-d-title {
	background-position: 0 -1.98rem;
	/*background-position: 0 -3.28rem;*/
	/*background-position: 0 -4.45rem;*/
	/*background-position: 0 -5.60rem;*/
	/*background-position: 0 -6.90rem;*/
}
.demo1 .p-d-line-img {
	background: url(../images/demo1-main.jpg) no-repeat center;
	background-size: cover;
}
.demo1 .p-d-light-des {
	width: 5.58rem;
	height: 0.99rem;
	background: url(../images/demo1-light-des.png) no-repeat center;
	background-size: 5.58rem 0.99rem;
}
.demo1 .p-d2-line-img1 {
	background: url(../images/demo1-1.jpg) no-repeat center;
	background-size: 1.98rem 3.51rem;
}
.demo1 .p-d2-line-img2 {
	background: url(../images/demo1-2.jpg) no-repeat center;
	background-size: 1.98rem 3.51rem;
}
.demo1 .p-d2-line-img3 {
	background: url(../images/demo1-3.jpg) no-repeat center;
	background-size: 1.98rem 3.51rem;
}
.demo1 .p-d2-line-img4 {
	background: url(../images/demo1-4.jpg) no-repeat center;
	background-size: 1.98rem 3.51rem;
}
.demo1 .p-d2-line-img5 {
	background: url(../images/demo1-5.jpg) no-repeat center;
	background-size: 1.98rem 3.51rem;
}
.demo1 .p-d2-des {
	width: 4.45rem;
	height: 2.41rem;
	background: url(../images/demo1-des.png) no-repeat center;
	background-size: 4.45rem 2.41rem;
}
.demo1 .p-d2-ad-item.ad1 {
	width: 2.02rem;
    height: 0.7rem;
    background-position: 0 -8.20rem;
}

.demo2 .p-d-title {
	background-position: 0 -3.28rem;
	/*background-position: 0 -4.45rem;*/
	/*background-position: 0 -5.60rem;*/
	/*background-position: 0 -6.90rem;*/
}
.demo2 .p-d-line-img {
	background: url(../images/demo2-main.jpg) no-repeat center;
	background-size: cover;
}
.demo2 .p-d-light-des {
	width: 4.32rem;
	height: 0.95rem;
	background: url(../images/demo2-light-des.png) no-repeat center;
	background-size: 4.32rem 0.95rem;
}
.demo2 .p-d2-line-img1 {
	background: url(../images/demo2-1.jpg) no-repeat center;
	background-size: 1.98rem 3.51rem;
}
.demo2 .p-d2-line-img2 {
	background: url(../images/demo2-2.jpg) no-repeat center;
	background-size: 1.98rem 3.51rem;
}
.demo2 .p-d2-line-img3 {
	background: url(../images/demo2-3.jpg) no-repeat center;
	background-size: 1.98rem 3.51rem;
}
.demo2 .p-d2-line-img4 {
	background: url(../images/demo2-4.jpg) no-repeat center;
	background-size: 1.98rem 3.51rem;
}
.demo2 .p-d2-des {
	width: 4.75rem;
	height: 2.42rem;
	background: url(../images/demo2-des.png) no-repeat center;
	background-size: 4.75rem 2.42rem;
}
.demo2 .p-d2-ad-item.ad1 {
	width: 1.5rem;
    height: 0.7rem;
    background-position: -2.65rem -8.20rem;
}
.demo2 .p-d2-ad-item.ad2 {
	width: 1.5rem;
    height: 0.7rem;
	background-position: -4.65rem -8.20rem;
}

.demo3 .p-d-title {
	background-position: 0 -4.45rem;
	/*background-position: 0 -5.60rem;*/
	/*background-position: 0 -6.90rem;*/
}
.demo3 .p-d-line-img {
	background: url(../images/demo3-main.jpg) no-repeat center;
	background-size: cover;
}
.demo3 .p-d-light-des {
	width: 4.86rem;
	height: 0.95rem;
	background: url(../images/demo3-light-des.png) no-repeat center;
	background-size: 4.86rem 0.95rem;
}
.demo3 .p-d2-line-img1 {
	background: url(../images/demo3-1.jpg) no-repeat center;
	background-size: 1.98rem 3.51rem;
}
.demo3 .p-d2-line-img2 {
	background: url(../images/demo3-2.jpg) no-repeat center;
	background-size: 1.98rem 3.51rem;
}
.demo3 .p-d2-line-img3 {
	background: url(../images/demo3-3.jpg) no-repeat center;
	background-size: 1.98rem 3.51rem;
}
.demo3 .p-d2-line-img4 {
	background: url(../images/demo3-4.jpg) no-repeat center;
	background-size: 1.98rem 3.51rem;
}
.demo3 .p-d2-line-img5 {
	background: url(../images/demo3-5.jpg) no-repeat center;
	background-size: 1.98rem 3.51rem;
}
.demo3 .p-d2-line-img6 {
	background: url(../images/demo3-6.jpg) no-repeat center;
	background-size: 1.98rem 3.51rem;
}
.demo3 .p-d2-des {
	width: 4.19rem;
	height: 2.44rem;
	background: url(../images/demo3-des.png) no-repeat center;
	background-size: 4.19rem 2.44rem;
}
.demo3 .p-d2-ad-item.ad1 {
	width: 1.5rem;
    height: 0.7rem;
    background-position: -6.65rem -8.20rem;
}

.demo4 .p-d-title {
	background-position: 0 -5.60rem;
	/*background-position: 0 -6.90rem;*/
}
.demo4 .p-d-line-img {
	background: url(../images/demo4-main.jpg) no-repeat center;
	background-size: cover;
}
.demo4 .p-d-light-des {
	width: 4.86rem;
	height: 0.95rem;
	background: url(../images/demo4-light-des.png) no-repeat center;
	background-size: 4.86rem 0.95rem;
}
.demo4 .p-d2-line-img1 {
	background: url(../images/demo4-1.jpg) no-repeat center;
	background-size: 1.98rem 3.51rem;
}
.demo4 .p-d2-line-img2 {
	background: url(../images/demo4-2.jpg) no-repeat center;
	background-size: 1.98rem 3.51rem;
}
.demo4 .p-d2-line-img3 {
	background: url(../images/demo4-3.jpg) no-repeat center;
	background-size: 1.98rem 3.51rem;
}
.demo4 .p-d2-line-img4 {
	background: url(../images/demo4-4.jpg) no-repeat center;
	background-size: 1.98rem 3.51rem;
}
.demo4 .p-d2-line-img5 {
	background: url(../images/demo4-5.jpg) no-repeat center;
	background-size: 1.98rem 3.51rem;
}
.demo4 .p-d2-des {
	width: 4.30rem;
	height: 2.43rem;
	background: url(../images/demo4-des.png) no-repeat center;
	background-size: 4.30rem 2.42rem;
}
.demo4 .p-d2-ad-item.ad1 {
	width: 1.0rem;
    height: 0.7rem;
    background-position: -0.05rem -9.2rem;
}

.demo5 .p-d-title {
	background-position: 0 -6.90rem;
}
.demo5 .p-d-line-img {
	background: url(../images/demo5-main.jpg) no-repeat center;
	background-size: cover;
}
.demo5 .p-d-light-des {
	width: 4.30rem;
	height: 0.91rem;
	background: url(../images/demo5-light-des.png) no-repeat center;
	background-size: 4.30rem 0.91rem;
}
.demo5 .p-d2-line-img1 {
	background: url(../images/demo5-1.jpg) no-repeat center;
	background-size: 1.98rem 3.51rem;
}
.demo5 .p-d2-line-img2 {
	background: url(../images/demo5-2.jpg) no-repeat center;
	background-size: 1.98rem 3.51rem;
}
.demo5 .p-d2-line-img3 {
	background: url(../images/demo5-3.jpg) no-repeat center;
	background-size: 1.98rem 3.51rem;
}
.demo5 .p-d2-line-img4 {
	background: url(../images/demo5-4.jpg) no-repeat center;
	background-size: 1.98rem 3.51rem;
}
.demo5 .p-d2-line-img5 {
	background: url(../images/demo5-5.jpg) no-repeat center;
	background-size: 1.98rem 3.51rem;
}
.demo5 .p-d2-des {
	width: 5.54rem;
	height: 2.09rem;
	background: url(../images/demo5-des.png) no-repeat center;
	background-size: 5.54rem 2.09rem;
}
.demo5 .p-d2-ad-item.ad1 {
	width: 1.0rem;
    height: 0.7rem;
    background-position: -1.7rem -9.2rem;
}
